<% @article.comments.each do |comment| %>
  <p>
    <strong>Name:</strong>
    <%= comment.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  
  <p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure about deleting this comment?" }, class: "btn btn-xs btn-danger" %>
  </p>
<% end %>