<center><strong>THE SORTING HAT IS WAITING FOR YOU...</strong></center>
	<hr>
	<center><%= image_tag("input-bg-04.png", :alt => "", :size => "1350x400") %></center>
	
<div class="wp4">
						<center><h2 class="frame"><u>Hogwarts Houses of Wizards</u></h2>
						<p><strong>
Hogwarts School of Witchcraft and Wizardry was founded by four of the most brilliant witches and wizards of their time. It was founded in the 10th century by GODRIC GRYFFINDOR, ROWENA RAVENCLAW, HELGA HUFFLEPUFF and SALAZAR SLYTHERIN. Each of them created a house in their names and thus established one of the best schools in the wizarding world. Before beginning their schooling , each student must first be sorted into their correct houses by the magical Sorting Hat.
</p></strong></center>
						<div class="thin-sep"></div>
					</div>